body {
    font-family: 'Raleway', sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.course-detail {
    background-color: #FBBB51;
    color: white;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1 .course-detail {
    margin-bottom: .5rem;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
}

